<!DOCTYPE html>
<head> 
<title>GoldReaderApp</title>

<link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
<div class="wrapper">

<h1>Gold Reader App</h1> 
<h2>A Sinatra App to arrange read aloud activities for the elderly.</h2>

<% if flash[:message] %> 
<h4 style="color:red;"><%= flash[:errors] %></h4>
<% end %><br>

<div class="buttons">
    <button onclick="document.location='/readings'">View all Readings Available</button>
    <% if !logged_in? %>
        <button onclick="document.location"='/login'">Login</button>
        <button onclick="document.location"='/signup'">Sign Up</button>
    <% end %>
</div>

<%= yield %>


<footer class="add">
<small><strong>Gold Reader App</strong></small>
</footer>
</div>

</body>
</html>
